In [2]:
import pandas as pd

In [6]:
airline = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/airline.csv")
airport = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/airport.csv")
lounge = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/lounge.csv")
seat = pd.read_csv("https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/seat.csv")

In [8]:
seat.columns

Index(['airline_name', 'link', 'title', 'author', 'author_country', 'date',
       'content', 'aircraft', 'seat_layout', 'date_flown', 'cabin_flown',
       'type_traveller', 'overall_rating', 'seat_legroom_rating',
       'seat_recline_rating', 'seat_width_rating', 'aisle_space_rating',
       'viewing_tv_rating', 'power_supply_rating', 'seat_storage_rating',
       'recommended'],
      dtype='object')

In [9]:
dk_df = pd.read_csv("https://raw.githubusercontent.com/rogerfitz/tutorials/master/draft-kings-history-scrape/salaries2014-2016.csv")

In [9]:
airline.to_csv('airline.csv')
airport.to_csv('airport.csv')
lounge.to_csv('lounge.csv')
seat.to_csv('seat.csv')

In [11]:
dk_df[['DK points', 'DK salary']].corr()

           DK points  DK salary
DK points   1.000000   0.581386
DK salary   0.581386   1.000000